* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(0, 37, 68);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lessThanArrow p,
#greaterThanArrow p {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px 10px 10px 10px;
}

#lessThanArrow,
#greaterThanArrow {
  background-color: gray;
  border-radius: 12px;
  text-align: center;
  margin: 10px;
  border: 1px solid white;
}

#lessThanArrow:hover,
#greaterThanArrow:hover {
  cursor: pointer;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.imagesDiv img {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}

#header-container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

#pageName p {
  font-weight: 600;
  font-size: 1.2rem;
}

#pageName {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#uploadImage p {
  font-weight: 600px;
}

#uploadImage {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: rgba(0, 0, 255, 0.726);
  margin-right: 12px;
  padding: 2px 8px 2px 4px;
  color: #fff;
}

.plus-symbol {
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 2px;
}

.uploadPara {
  font-weight: 600;
  font-size: 14px;
}
@media (max-width: 376px) {
  .imagesDiv img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
  }
}
