* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(0, 37, 68);
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#webName {
  text-align: center;
  padding: 1.5rem 1.2rem;
}

#lessThanArrow p,
#greaterThanArrow p {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px 10px 10px 10px;
}

#lessThanArrow,
#greaterThanArrow {
  background-color: gray;
  border-radius: 12px;
  text-align: center;
  margin: 10px;
  border: 1px solid white;
}

#lessThanArrow:hover,
#greaterThanArrow:hover {
  cursor: pointer;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.imagesDiv img {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}

@media (max-width: 376px) {
  .imagesDiv img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
  }
}
